{% extends "main/base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="card mb-4 custom-shadow">
            <div class="row">
                
                <div class="col-md-4">
                    <img src="{% static 'deps/images/goods/set of tea table and three chairs.jpg' %}"
                        class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1">
                </div>
                <div class="col-md-4 ">
                    <p class="product_id mt-3">id: 002654</p>
                </div>
                <!-- Increase image in modal window -->
                <div class="modal fade" id="imageModal1" tabindex="-1"
                    aria-labelledby="imageModal1Label" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="imageModal1Label">Image 1</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img src="{% static 'deps/images/goods/set of tea table and three chairs.jpg' %}"
                                    class="img-fluid" alt="Image 1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product description -->
            <div class="card-body">
                <p class="card-text">Price: <strong>{{product.price}} $</strong></p>
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <a href="#" class="btn btn-dark add-to-cart">Add to cart</a>
            </div>
        </div>
    </div>
{% endblock content %}